/*Fonts*/
/*Bebas Neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&display=swap');
/*Source Sans 3*/ 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:wght@200&display=swap');



.logo{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: -1.5;
}

.test{
    font-family: 'Source Sans 3', sans-serif;
}